{% load static %}
<!-- recipes/templates/base.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="header">
        <!-- Aqui você pode adicionar o logo ou qualquer conteúdo comum ao cabeçalho -->
        <img src="{% static 'logo_metalurgica.png' %}" alt="Logo">
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <!-- Conteúdo comum ao rodapé, se necessário -->
    </div>
</body>
</html>
